#leftpanel
{
	float: left;
	width: 25%;
}

#rightpanel
{
	float: right;
	width: 30%;
}
#rand_stream
{
	display: inline;
}
#Filters
{
	display: none;
}
#rand_stream
input[type=number]{

	width: 10%;
	padding: 0px 10px;
  margin: 1px 0;
  box-sizing: border-box;
	border-radius: 4px;
}
#rand_stream
select.game {
    width:auto;
}


/*select#language
{
		display: none;
};*/
